:root {
    --bg-gradient: linear-gradient(90deg, green 0%, yellow 100%);
}

a {
    color: blue;
}

button {
    display: inline-block;
    width: 150px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-decoration: none;
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button>span:nth-child(3) {
    color: gray;
    font-size: 10px;
}

label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 4px;
}

label>input {
    /* Hide the default checkbox */
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

label>span {
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px;
    vertical-align: text-bottom;
    margin-right: 8px;
    border-radius: 2px;
    background: var(--bg-gradient);
}

label>input[type="checkbox"]:focus+span:after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    outline: 1px auto;
}

label>input[type=checkbox]:checked+span:before {
    content: url("img/ticked.svg");
    position: absolute;
    top: -3px;
    left: 3px;
}

p {
    margin: 0.5em auto;
}

ul {
    padding-left: 20px;
    line-height: 24px;
}

.actions {
    margin-top: 20px;
    text-align: right;
}

.content {
    width: 520px;
    height: 500px;
    padding: 35px;
    padding-top: 30px;
    border-radius: 5px;
    color: lightgrey;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.highlighted {
    color: lightgreen;
}

.step {
    position: relative;
    width: 100px;
    text-align: center;
    line-height: 18px;
}

.step>img {
    display: block;
    margin: 0 auto 8px auto;
}

.step:not(:last-child)::after {
    position: absolute;
    right: -30px;
    top: 20px;
    content: url("img/dots.svg");
}

.title {
    display: flex;
    margin-bottom: 20px;
    column-gap: 30px;
}

.usage {
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    column-gap: 40px;
}

#btn-ok {
    margin-left: 15px;
    border-color: darkgreen;
    background: var(--bg-gradient);
}

#btn-ok>span:nth-child(3) {
    color: lightgreen;
}
